<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.3/css/all.css" integrity="sha384-SZXxX4whJ79/gErwcOYf+zWLeJdY/qpuqC4cAa9rOGUstPomtqpuNWT9wdPEn2fk" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Document</title>
</head>
<body>

    <%- include('../partials/header.ejs') %>

    <main class="login">
        <div class="caja">
           <!-- <div class="boton">
                <a href="" class="ingresar">Ingresar</a>
            </div> -->
            <div class="formulario">
                <h3>Cambiar Contrase単a</h3>
                <form action="/users/password/<%=hayUnUsuario.id%>?_method=PUT" method="POST">
                    <div class="form-group actual-password">
                        <span class="eyeIcon hide"></span>
                        <input type="password" class="password" placeholder="Contrase単a Actual" name="lastPassword">
                        <% if(typeof noCoincidence != 'undefined'){ %>
                            <small><%= noCoincidence %></small>
                        <% } %>
                        <% if(typeof errors != 'undefined'){ %>
                            <% if(typeof errors.lastPassword != 'undefined'){ %>
                                <small><%= errors.lastPassword.msg %></small>
                            <% } %>
                        <% } %>
                    </div>
                    <div class="form-group">
                        <span class="eyeIcon hide"></span>
                        <input type="password" class="password" placeholder="Nueva Contrase単a" name="password">
                        <% if(typeof errors != 'undefined'){ %>
                            <% if(typeof errors.password != 'undefined'){ %>
                                <small><%= errors.password.msg %></small>
                            <% } %>
                        <% } %>
                    </div>
                    <div class="form-group">
                        <span class="eyeIcon hide"></span>
                        <input type="password" class="password" placeholder="Repetir Nueva Contrase単a" name="repassword">
                        <% if(typeof errors != 'undefined'){ %>
                            <% if(typeof errors.repassword != 'undefined'){ %>
                                <small><%= errors.repassword.msg %></small>
                            <% } %>
                        <% } %>
                    </div>
                    <button type="submit">Guardar Cambios</button>
                </form>
            </div>
        </div>
    </main>

    <%- include('../partials/footer.ejs') %>

</body>
</html>